In [1]:
import database
import stock_class
import datetime

In [2]:
mycursor, db = database.sql_connect(host='192.168.0.153', user = 'geri')

MySQL database password:Abcdef01.

In [ ]:
db.is_connected()

In [6]:
database.price_query_sql(ticker_name = 'AAPL', mycursor=mycursor, db=db, end_date=datetime.date.today())

   ticker   high    low   open  close      volume adj_close      date_   id
0    AAPL  2.670  2.580  2.585  2.670   807234400     2.286 2006-01-03    4
1    AAPL  2.714  2.661  2.683  2.678   619603600     2.293 2006-01-04    5
2    AAPL  2.675  2.634  2.672  2.656   449422400     2.275 2006-01-05    6
3    AAPL  2.739  2.662  2.688  2.725   704457600     2.333 2006-01-06    7
4    AAPL  2.757  2.705  2.740  2.716   675040800     2.326 2006-01-09    8
5    AAPL  2.925  2.708  2.723  2.888  2279869200     2.473 2006-01-10    9
6    AAPL  2.757  2.705  2.740  2.716   675040800     2.336 2006-01-09   10
7    AAPL  2.925  2.708  2.723  2.888  2279869200     2.483 2006-01-10   11
8    AAPL  2.757  2.705  2.740  2.716   675040800     2.336 2006-01-09   14
9    AAPL  2.925  2.708  2.723  2.888  2279869200     2.483 2006-01-10   15
10   AAPL  2.757  2.705  2.740  2.716   675040800     2.336 2006-01-09   16
11   AAPL  2.925  2.708  2.723  2.888  2279869200     2.483 2006-01-10   17
12   AAPL  2.757  2.705  2.740  2.716   675040800     2.336 2006-01-09   18
13   AAPL  2.925  2.708  2.723  2.888  2279869200     2.483 2006-01-10   19
14   AAPL  2.757  2.705  2.740  2.716   675040800     2.336 2006-01-09   22
15   AAPL  2.925  2.708  2.723  2.888  2279869200     2.483 2006-01-10   23
16   AAPL  2.757  2.705  2.740  2.716   675040800     2.336 2006-01-09   24
17   AAPL  2.925  2.708  2.723  2.888  2279869200     2.483 2006-01-10   25
18   AAPL  3.321  3.041  3.088  3.306  3349298400     2.843 2007-01-09   42
19   AAPL  3.493  3.338  3.384  3.464  2952880000     2.979 2007-01-10   43
20   AAPL  3.321  3.041  3.088  3.306  3349298400     2.843 2007-01-09   44
21   AAPL  3.493  3.338  3.384  3.464  2952880000     2.979 2007-01-10   45
22   AAPL  3.321  3.041  3.088  3.306  3349298400     2.843 2007-01-09  162
23   AAPL  3.493  3.338  3.384  3.464  2952880000     2.979 2007-01-10  163
24   AAPL  3.321  3.041  3.088  3.306  3349298400     2.831 2007-01-09  222
25   AAPL  3.493  3.338  3.384  3.464  2952880000     2.966 2007-01-10  223
26   AAPL  8.996  8.660  8.981  8.686   854630000     7.469 2010-06-09  282
27   AAPL  8.964  8.650  8.744  8.947   776356000     7.693 2010-06-10  283